@font-face {
  font-family: BungeeInline;
  src: url("../font/BungeeInline-Regular.ttf");
}

@font-face {
  font-family: BungeeOutline;
  src: url("../font/BungeeOutline-Regular.ttf");
}

@font-face {
  font-family: SegoeUI;
  src: url("../font/segoe-ui-4-cufonfonts/Segoe UI.ttf");
}

@font-face {
  font-family: Comfortaa;
  src: url("../font/Comfortaa/Comfortaa-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Comfortaa";
  margin: 0;
  cursor: default;
  width: fit-content;
}

a {
  color: black;
}

span {
  line-height: 1.5rem;
}

.download-cv {
  text-align: center;
  .btn-download {
    background: #fffd61;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

    a {
      text-decoration: none;
    }

    &:hover {
      background: #000;
      a {
        color: #fffd61;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
