@font-face {
  font-family: BungeeInline;
  src: url("../font/BungeeInline-Regular.ttf");
}
@font-face {
  font-family: BungeeOutline;
  src: url("../font/BungeeOutline-Regular.ttf");
}
@font-face {
  font-family: SegoeUI;
  src: url("../font/segoe-ui-4-cufonfonts/Segoe UI.ttf");
}
@font-face {
  font-family: Comfortaa;
  src: url("../font/Comfortaa/Comfortaa-Regular.ttf");
}
@font-face {
  font-family: ComfortaaBold;
  src: url("../font/Comfortaa/Comfortaa-Bold.ttf");
}
@font-face {
  font-family: SpaceMono;
  src: url("../font/SpaceMono/SpaceMono-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Comfortaa";
  margin: 0;
  cursor: default;
  width: 100%;
}

a {
  color: #8b949e;
}

span {
  line-height: 1.5rem;
}

.download-cv {
  text-align: center;
}
.download-cv .btn-download {
  background: #fffd61;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.download-cv .btn-download a {
  text-decoration: none;
}
.download-cv .btn-download:hover {
  background: #000;
}
.download-cv .btn-download:hover a {
  color: #fffd61;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

@media screen and (max-device-width: 768px) {
  header {
    padding: 25px 40px !important;
  }

  #banner .title {
    padding: 0 40px;
    line-height: 3rem !important;
    font-size: 40px !important;
  }
  #banner .welcome {
    font-size: 20px !important;
  }

  #projects .container {
    padding: 40px 40px !important;
  }
  #projects .container .main .projects-list {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 60px !important;
  }
}
@media screen and (max-device-width: 1200px) and (min-device-width: 768px) {
  header {
    padding: 25px 40px !important;
  }

  #banner .title {
    padding: 0 40px;
    line-height: 6rem;
  }
  #banner .welcome {
    font-size: 40px !important;
  }

  #projects .container {
    padding: 40px 40px !important;
  }
  #projects .container .main .projects-list {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 60px !important;
  }
}
header {
  padding: 25px 120px;
  font-size: 30px;
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: ComfortaaBold;
  width: 100%;
  transition: 0.3s ease-in-out;
}

header.sticky {
  background: #00000060;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  padding: 20px 120px;
}

#banner {
  font-family: ComfortaaBold;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../../picture/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask-image: -webkit-gradient(linear, left 70%, left bottom, from(black), to(rgba(0, 0, 0, 0)));
}
#banner .title {
  font-size: 60px;
  text-align: center;
}
#banner .welcome {
  font-size: 25px;
  font-family: SpaceMono;
  text-align: center;
}

#projects {
  padding-top: 40px;
}
#projects .container {
  padding: 40px 120px;
}
#projects .container .title {
  font-family: ComfortaaBold;
  font-size: 25px;
  padding-bottom: 40px;
}
#projects .container .main {
  display: flex;
  justify-content: center;
}
#projects .container .main .projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  width: 100%;
}
#projects .container .main .projects-list .proj-card {
  background: rgba(13, 17, 23, 0.9);
  border: 1px solid #3e3e3e;
  border-radius: 30px;
  padding-bottom: 15px;
}
#projects .container .main .projects-list .proj-card .thumbnail img {
  width: 100%;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
}
#projects .container .main .projects-list .proj-card .card-content {
  padding: 10px 30px 10px 30px;
  line-height: 2.5rem;
}
#projects .container .main .projects-list .proj-card .card-content .proj-name {
  font-family: ComfortaaBold;
  font-size: 30px;
}
#projects .container .main .projects-list .proj-card .card-content .period,
#projects .container .main .projects-list .proj-card .card-content .proj-description {
  font-family: SpaceMono;
  color: #8b949e;
}
#projects .container .main .projects-list .proj-card .card-content .period .buttons .btn,
#projects .container .main .projects-list .proj-card .card-content .proj-description .buttons .btn {
  padding: 10px 20px;
  background: rgba(13, 17, 23, 0.9);
  border: 1px solid #3e3e3e;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin-top: 10px;
}
#projects .container .main .projects-list .proj-card .card-content .period .buttons .btn a,
#projects .container .main .projects-list .proj-card .card-content .proj-description .buttons .btn a {
  font-family: SpaceMono;
  color: #8b949e;
  text-decoration: none;
  font-size: 15px;
}
#projects .container .main .projects-list .proj-card .card-content .period .buttons .btn:hover,
#projects .container .main .projects-list .proj-card .card-content .proj-description .buttons .btn:hover {
  background: white;
}
#projects .container .main .projects-list .proj-card .card-content .period .buttons .btn:hover a,
#projects .container .main .projects-list .proj-card .card-content .proj-description .buttons .btn:hover a {
  color: black;
}
#projects .container .main .projects-list .proj-card .card-content .proj-description {
  padding-top: 20px;
}

footer {
  padding: 50px 120px;
  text-align: center;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
