<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../packages/fontawesome-free-5.15.3-web/css/all.min.css">
  <link rel="stylesheet" href="../js/aos-master/dist/aos.css" />
  <link rel="shortcut icon" type="image/jpg" href="../picture/C.ico"/>
  <script src="../js/aos-master/dist/aos.js"></script>
    <title>Kmin Projects | CANHUYH</title>
</head>

<body>
  {{>header}}

  {{>banner}}

  {{>projects}}

  {{>footer}}
</body>

  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/genreral.js"></script>
  <script src="js/header-scroll.js"></script>
  <script src="js/write-text.js"></script>

</html>