@media (min-width: 768px) {
  body {
    font-family: cursive;
  }
  #portfolio {
    .container {
      padding: 20px;

      .content {
        width: 75%;
        color: black;
        padding: 40px 60px;
        background: white;
        margin: 50px auto;
        border-radius: 50px;

        #player-container {
          display: block;
          #play-pause {
            cursor: pointer;
            text-indent: -999999px;
            height: 40px;
            width: 40px;
            padding: 12px 18px;
            z-index: 2;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==);
            background-repeat: no-repeat !important;
            background-position: center;
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
            border-radius: 50%;
            box-shadow: 3px 3px 20px -5px black;
            width: 0;
            height: 12px;
          }

          .play {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+) !important;
          }

          .pause {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==);
          }
        }

        .intro {
          .avatar {
            top: -95px;
            img {
              width: 30%;
            }
          }

          .info {
            position: relative;
            margin-top: 40px;
            #name {
              font-size: 30px;
              font-weight: bolder;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 5px;
              margin-top: 10px;
            }
            #position {
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 5px;

              &:before {
                width: 15%;
                top: 32%;
              }

              &:after {
                width: 15%;
                top: 32%;
              }
            }

            #objective {
              font-style: italic;
            }
          }
        }

        .contact {
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 30px;
          grid-row-gap: 30px;
          .contact-item {
            display: grid;
            text-align: center;
            .icon {
              i {
                font-size: 30px;
                border: 3px solid;
                border-radius: 50%;
                padding: 10px;
                background: #fffd61;
                width: 30px;
                height: 30px;
              }
            }

            span {
              font-weight: bolder;
            }
          }
        }

        .group {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-column-gap: 40px;
        }

        .style-1 {
          padding-top: 20px;

          .heading {
            font-size: 40px;
            font-weight: bold;
            .name {
              font-size: 20px;
              font-weight: bold;
            }
          }

          .item {
            .name {
              font-weight: bold;
            }

            .description {
              font-weight: 100;
            }
          }
        }

        .education {
          .heading {
            &:after {
              width: 55%;
            }
          }
        }

        .work-experience {
          .heading {
            &:after {
              width: 50%;
            }
          }
        }

        .skills {
          .heading {
            &:after {
              width: 70%;
            }
          }
        }

        .certifications {
          .heading {
            &:after {
              width: 40%;
            }
          }

          .certification-item {
            padding-top: 25px;
            .year {
              font-weight: bold;
              border: 3px solid black;
              border-radius: 50px;
            }
          }
        }

        .projects {
          .heading {
            &:after {
              width: 60%;
            }
          }

          .proj-item {
            .description {
              span {
                a {
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}
