<section id="banner">
  <div class="title">
    <p>Welcome to my projects page at Kmin</p>
  </div>
  <div class="welcome">
    <p
      class="typewrite"
      data-period="1000"
      data='["Hello!","My name is Huynh Thanh Canh","I am a member of Kmin Academy"]'
    >
      <span class="wrap"></span>
    </p>
  </div>
</section>