<section id="canhuyh">
  <div id="logo">
    <span>canhuyh</span>
    <span>canhuyh</span>
  </div>

  <div class="welcome">
    <p
      class="typewrite"
      data-period="2000"
      data='["Hello!","Welcome to my portfolio","Scroll down or click the button below to view my portfolio =))", "Thank you for your visit!"]'
    >
      <span class="wrap"></span>
    </p>
  </div>

  <a class="btn-view-portfolio" href="#portfolio"><i
      class="fas fa-chevron-down"
    ></i>
  </a>
</section>