<section id="portfolio">
  <div class="container" data-aos="fade-up" data-aos-delay="500">
    <div class="main">
      <div class="content">
        <div id="player-container">
          <div id="play-pause">Play</div>
        </div>
        <div class="intro">
          <div class="avatar" data-aos="fade-up" data-aos-delay="500">
            <img src="picture/avt.png" alt="avatar" />
          </div>
          <div class="info" data-aos="fade-up" data-aos-delay="500">
            <div id="name"><span>Huynh Thanh Canh</span></div>
            <div id="position"><span>Back-End Developer</span></div>
            <div id="objective">
              <ul>
                <li>
                  <span> Goal to become Full Stack Developer. </span>
                </li>
                <li>
                  <span>
                    Applying experiences of programming skills, learning and
                    acquiring new knowledge and experience to become a good
                    programmer.
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="contact" data-aos="fade-up" data-aos-delay="500">
          <div class="phone-number contact-item">
            <div class="icon">
              <i class="fas fa-phone-alt"></i>
            </div>
            <a href="tel:+84-947479207">
              <span>(+84) 94 747 9207</span>
            </a>
          </div>
          <div class="address contact-item">
            <div class="icon">
              <i class="fas fa-map-marker-alt contact-icon"></i>
            </div>
            <span>Ho Chi Minh City, Viet Nam</span>
          </div>
          <div class="email contact-item">
            <div class="icon">
              <i class="fas fa-envelope contact-icon"></i>
            </div>
            <a href="mailto:huynhthanhcanh.top@gmail.com">
              <span>huynhthanhcanh.top@gmail.com</span>
            </a>
          </div>
          <div class="github-link contact-item">
            <div class="icon">
              <i class="fab fa-github contact-icon"></i>
            </div>
            <a href="https://github.com/canhuyh" target="_blank">
              <span>github.com/canhuyh</span>
            </a>
          </div>
        </div>

        <!-- GROUP 1 -->
        <div class="group" data-aos="fade-up" data-aos-delay="500">
          <div class="education style-1">
            <div class="heading edu-heading">
              <span>Education</span>
            </div>
            <div class="edu-item item">
              <ul>
                <li>
                  <div class="edu-name name">
                    <span>CAO THANG TECHNICAL COLLEGE (MAJOR: SOFTWARE)</span>
                  </div>
                  <div class="description">
                    <span>Sep 2018 - Present</span>
                    <br />
                    <span>GPA: 7.9/10 (2 years)</span>
                  </div>
                </li>
                <br />
                <li>
                  <div class="edu-name name">
                    <span>KMIN ACADEMY (COURSE: MASTER PROGRAMMING LANGUAGES)</span>
                  </div>
                  <div class="description">
                    <span>Oct 2019 - Jan 2020</span>
                  </div>
                </li>
                <br />
                <li>
                  <div class="edu-name name">
                    <span>KMIN ACADEMY (COURSE: BACK-END NODEJS)</span>
                  </div>
                  <div class="description">
                    <span>Feb 2020 - May 2020</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="work-experience style-1">
            <div class="heading exp-heading">
              <span>Experience</span>
            </div>
            <div class="exp-item item">
              <ul>
                <li>
                  <div class="exp-name name">
                    <span>KMIN . EDUCATION AND TECHNOLOGY CO., LTD (INTERNSHIP)</span>
                  </div>
                  <div class="description">
                    <span>Jan 2021 - Present</span>
                    <br />
                    <span>NodeJs, NestJs, MongoDB, TypeScript</span>
                  </div>
                </li>
                <br />
                <li>
                  <div class="exp-name name">
                    <span>FABA TECHNOLOGY (INTERNSHIP)</span>
                  </div>
                  <div class="description">
                    <span>Aug 2020 - Nov 2020</span>
                    <br />
                    <span>WordPress, Shopify, PHP, Liquid, Javascript</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- END GROUP 1 -->

        <!-- GROUP 2 -->
        <div class="group" data-aos="fade-up" data-aos-delay="500">
          <div class="certifications style-1">
            <div class="heading certification-heading">
              <span>Certifications</span>
            </div>
            <div class="certification-item item">
              <div class="year y-2020">
                <ul>
                  <li>
                    <div class="description">
                      <span>Certificate of completion of the course with
                        excellent student qualifications at Kmin Academy (The
                        course mastered the programming language).</span>
                    </div>
                  </li>
                  <br />
                  <li>
                    <div class="description">
                      <span>Certificate of course completion at Kmin Academy
                        (Back-end programming course with Nodejs).</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="skills style-1">
            <div class="heading skill-heading">
              <span>Skills</span>
            </div>
            <div class="skill-item item">
              <ul>
                <li>
                  <div class="skill-name name">
                    <span>GITHUB</span>
                  </div>
                  <div class="description">
                    <span>Master the basic commands needed with git (clone,
                      push, pull, merge, commit,...), use git with terminal.</span>
                  </div>
                </li>
                <br />
                <li>
                  <div class="skill-name name">
                    <span>UBUNTU</span>
                  </div>
                  <div class="description">
                    <span>I know how to use the Ubuntu operating system
                      moderately.</span>
                  </div>
                </li>
                <br />
                <li>
                  <div class="skill-name name">
                    <span>ENGLISH</span>
                  </div>
                  <div class="description">
                    <span>I can read and understand the basics to read documents
                      in English.</span>
                  </div>
                </li>
                <br />
                <li>
                  <div class="skill-name name">
                    <span>RESEARCH</span>
                  </div>
                  <div class="description">
                    <span>I can find difficult problems when working on supplies
                      like: StackoverFlow, Medium, the homepage of the
                      technology in use,...</span>
                  </div>
                </li>
                <br />
                <li>
                  <div class="skill-name name">
                    <span>PUBLIC SPEAKING</span>
                  </div>
                  <div class="description">
                    <span>I can speak in front of a crowd of about 50 people and
                      am quite confident when giving my opinion.</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- END GROUP 2 -->

        <div class="projects style-1" data-aos="fade-up" data-aos-delay="500">
          <div class="heading proj-heading">
            <span>Projects</span>
          </div>
          <div class="proj-item item">
            <ul>
              <li>
                <div class="proj-name name">
                  <span>CBN2T CINEMA (TEAM LEADER)</span>
                </div>
                <div class="description">
                  <span>
                    <strong>+ Description:</strong>
                    Building a cinema management system to help users choose
                    movies and book tickets quickly, anytime, anywhere.</span>
                  <br />
                  <span>
                    <strong>+ Language/Framework/Technology/IDE/Text Editer:</strong>
                    Java, PHP, Laravel, MySQL, SQLite, Android Stuido, GitHub.</span>
                </div>
              </li>
              <br />

              <li>
                <div class="proj-name name">
                  <span>NCP COMPUTER PARTS STORE MANAGEMENT SOFTWARE (MEMBER)</span>
                </div>
                <div class="description">
                  <span>
                    <strong>+ Description:</strong>
                    Build store management software to sell computer components,
                    help store owners manage goods in their stores conveniently.</span>
                  <br />
                  <span>
                    <strong>+ Language/Framework/Technology/IDE/Text Editer:</strong>
                    C#, Entity Framework, Bunifu UI, Visual Studio 2019.</span>
                </div>
              </li>
              <br />

              <li>
                <div class="proj-name name">
                  <span>CHAT APP</span>
                </div>
                <div class="description">
                  <span>
                    <strong>+ Description:</strong>
                    Build a basic online chat application for people to
                    communicate with each other.</span>
                  <br />
                  <span>
                    <strong>+ Language/Framework/Technology/IDE/Text Editer:</strong>
                    NodeJs, JavaScript, NPM Module, GitHub, Heroku.</span>
                  <span><strong>+ Source:</strong>
                    <a
                      href=" https://github.com/canhuyh/chat-app"
                      target="_blank"
                    >github.com/canhuyh/chat-app</a>
                  </span>
                  <br />
                  <span><strong>+ Video demo:</strong>
                    <a
                      href="https://www.youtube.com/watch?v=_WvP8XSWApY"
                      target="_blank"
                    >www.youtube.com/watch?v=_WvP8XSWApY</a>
                  </span>
                  <br />
                  <span><strong>+ Link demo:</strong>
                    <a
                      href="https://huynhthanhcanh-chat-app.herokuapp.com/"
                      target="_blank"
                    >huynhthanhcanh-chat-app.herokuapp.com</a>
                  </span>
                </div>
              </li>
              <br />

              <li>
                <div class="proj-name name">
                  <span>WEATHER APP</span>
                </div>
                <div class="description">
                  <span>
                    <strong>+ Description:</strong>
                    Build application to view weather online, people catch
                    weather in each area.</span>
                  <br />
                  <span>
                    <strong>+ Language/Framework/Technology/IDE/Text Editer:</strong>
                    NodeJs, JavaScript, NPM Module, GitHub, Heroku.</span>
                  <br />
                  <span><strong>+ Source:</strong>
                    <a
                      href="https://github.com/canhuyh/WeatherApp_WebServer"
                      target="_blank"
                    >github.com/canhuyh/WeatherApp_WebServer</a>
                  </span>
                  <br />
                  <span><strong>+ Link demo:</strong>
                    <a
                      href="https://weather-app-huynhthanhcanh.herokuapp.com/"
                      target="_blank"
                    >weather-app-huynhthanhcanh.herokuapp.com</a>
                  </span>
                </div>
              </li>
              <br />

              <li>
                <div class="proj-name name">
                  <span>RELATIONSHIP MANAGEMENT SOFTWARE ON CONSOLE</span>
                </div>
                <div class="description">
                  <span>
                    <strong>+ Description:</strong>
                    Build a relationship management application on the console
                    that helps people establish and manage relationships in
                    their daily life.</span>
                  <br />
                  <span>
                    <strong>+ Language/Framework/Technology/IDE/Text Editer:</strong>
                    C++, Visual Studio 2019, C++ support libraries (console,
                    vector, string), OOP.</span>
                  <br />
                  <span><strong>+ Source:</strong>
                    <a
                      href="https://github.com/canhuyh/AppQuanLyMoiQuanHe-RelationshipManager"
                      target="_blank"
                    >github.com/canhuyh/AppQuanLyMoiQuanHe- RelationshipManager</a>
                  </span>
                  <br />
                  <span><strong>+ Video demo:</strong>
                    <a
                      href="https://www.youtube.com/watch?v=KZFdgYhhNsg"
                      target="_blank"
                    >www.youtube.com/watch?v=KZFdgYhhNsg</a>
                  </span>
                </div>
              </li>
              <br />
            </ul>
          </div>
        </div>
      </div>

      <a class="btn-scroll-top" href="#canhuyh"><i
          class="fas fa-chevron-up"
        ></i>
      </a>
    </div>
  </div>
</section>