@media screen and (max-device-width: 768px) {
  header {
    padding: 25px 40px !important;
  }

  #banner {
    .title {
      padding: 0 40px;
      line-height: 3rem !important;
      font-size: 40px !important;
    }

    .welcome {
      font-size: 20px !important;
    }
  }

  #projects {
    .container {
      padding: 40px 40px !important;
      .main {
        .projects-list {
          grid-template-columns: repeat(1, 1fr) !important;
          grid-gap: 60px !important;
        }
      }
    }
  }
}
