#portfolio {
  .container {
    padding: 20px;

    .content {
      color: black;
      padding: 40px 20px;
      background: white;
      width: auto;
      margin: 50px auto;
      border-radius: 50px;

      #player-container {
        display: block;
        #play-pause {
          cursor: pointer;
          text-indent: -999999px;
          height: 40px;
          width: 40px;
          padding: 12px 18px;
          z-index: 2;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==);
          background-repeat: no-repeat !important;
          background-position: center;
          background-size: 16px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          border-radius: 50%;
          box-shadow: 3px 3px 20px -5px black;
          width: 0;
          height: 12px;
        }

        .play {
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+) !important;
        }

        .pause {
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==);
        }
      }

      .intro {
        background: #fffd61;
        border-radius: 50px;
        margin-top: 100px;
        padding: 15px;
        .avatar {
          display: flex;
          justify-content: center;
          position: relative;
          top: -130px;
          margin-bottom: -130px;
          img {
            width: 75%;
            border: 5px solid white;
            border-radius: 50%;
          }
        }

        .info {
          position: relative;
          #name {
            font-size: 25px;
            font-weight: bolder;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-top: 10px;
          }
          #position {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-top: 15px;

            &:before {
              content: "";
              position: absolute;
              width: 25%;
              top: 38%;
              left: 0;
              background: black;
              border: 1px solid #000 !important;
              border-left: 0;
              border-right: 0;
            }

            &:after {
              content: "";
              position: absolute;
              width: 25%;
              top: 38%;
              right: 0;
              background: black;
              border: 1px solid #000 !important;
              border-left: 0;
              border-right: 0;
            }
          }

          #objective {
            font-style: italic;
          }
        }
      }

      .contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        position: relative;
        margin-top: 30px;
        word-break: break-word;

        .contact-item {
          display: inline-flex;
          align-items: center;
          grid-column-gap: 50px;
          .icon {
            i {
              font-size: 30px;
              border: 3px solid;
              border-radius: 50%;
              padding: 10px;
              background: #fffd61;
              width: 30px;
              height: 30px;
            }
          }

          span {
            font-weight: bolder;
          }
        }
      }

      .group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

      .style-1 {
        padding-top: 20px;

        .heading {
          font-size: 40px;
          font-weight: bold;
          .name {
            font-size: 20px;
            font-weight: bold;
          }
        }

        .item {
          .name {
            font-weight: bold;
          }

          .description {
            font-weight: 100;
          }
        }
      }

      .education {
        .heading {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 30%;
            top: 55%;
            right: 0;
            background: #585858;
            border: 1px solid #585858 !important;
            border-left: 0;
            border-right: 0;
          }
        }
      }

      .work-experience {
        .heading {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 25%;
            top: 55%;
            right: 0;
            background: #585858;
            border: 1px solid #585858 !important;
            border-left: 0;
            border-right: 0;
          }
        }
      }

      .skills {
        .heading {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 55%;
            top: 55%;
            right: 0;
            background: #585858;
            border: 1px solid #585858 !important;
            border-left: 0;
            border-right: 0;
          }
        }
      }

      .certifications {
        .heading {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 3%;
            top: 55%;
            right: 0;
            background: #585858;
            border: 1px solid #585858 !important;
            border-left: 0;
            border-right: 0;
          }
        }

        .certification-item {
          padding-top: 25px;
          .year {
            font-weight: bold;
            border: 3px solid black;
            border-radius: 50px;
            padding: 10px;
          }

          .y-2020 {
            position: relative;
            &:before {
              content: "2020";
              position: absolute;
              width: 60px;
              transform: rotate(-90deg);
              background: black;
              color: white;
              display: flex;
              justify-content: center;
              top: 42%;
              left: -42px;
              border-radius: 20px 20px 0 0;
            }
          }
        }
      }

      .projects {
        .heading {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 40%;
            top: 55%;
            right: 0;
            background: #585858;
            border: 1px solid #585858 !important;
            border-left: 0;
            border-right: 0;
          }
        }

        .proj-item {
          word-break: break-word;
          .description {
            span {
              a {
                color: black;
              }
            }
          }

          .proj-name {
            span {
              background: black;
              color: white;
              padding: 5px 5px;
            }
          }

          .period {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
